body{
	text-align:center;
}
body, #shuffle{
	font-family: "Indie Flower", cursive;
	font-size:24px;
}
#puzzlearea{
	width:360px;
    height:360px;
	position:relative;
	margin:0px auto;
	background-color: grey;
	border-width: 2px;
	border-color: grey;
}
.piece{
	width:90px;
	height:90px;
	/* border:1px solid black; */
	/* font-size:40pt; */
	position:absolute;
	cursor:default;
	background-image: url(https://i.ibb.co/L6TrT9w/1.jpg);
}
#winner{
	color:red;
	font-weight:bold;
}